.content {
  margin: 4rem auto;
  max-width: 1440px;
  padding: 0 1.0875rem 1.45rem;
}

footer {
  font-size: 14px;
}

.scale-in {
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
