$text-color: black;

footer {
  font-size: 14px;
}


html a {
  color: black;
  text-decoration: none;
  &:hover {
    color: lighten($text-color, 40)
  }

}

.content {
  margin-top: 4rem;
  max-width: 1440px;
  padding: 0 1.0875rem 1.45rem;
}

.scale-in {
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
