header {
  position: relative;
  background: "grey";
  margin-bottom: "1.45rem";
  padding: 13px 0;
  text-align: center;
  .title {
    display: inline-block;
    font-family: "Dancing Script", cursive;
    margin: 0;
  }
  :after {
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -2;
    background: linear-gradient(90deg, #fff 0, #eee 35%, #eee 65%, #fff);
    background: -moz-linear-gradient(
      left,
      #fff 0,
      #eee 35%,
      #eee 65%,
      #fff 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, #fff),
      color-stop(35%, #eee),
      color-stop(65%, #eee),
      color-stop(100%, #fff)
    );
  }

  .nav {
    display: block;
    justify-content: center;
    
    .menu {
      display: inline-block;
      float: right;
      text-transform: uppercase;
      text-align: left;
      font-size: 14px;
    }
    
    a {
      letter-spacing: 1px;
      font-weight: 200;
      display: block;
    }
  }

}
