.collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-template-rows: repeat(6, 420px);
  grid-gap: 1rem;
  grid-auto-flow: dense;

  > div::nth-child(4n) {
    grid-column: span 2; /* Spans two columns */
    grid-row: span 2; /* Spans two rows */
  }
  > div:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }
}